<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bimber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bimber.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>f2aee9480da2c75211f143f4a308bff0c83b2990b72cf21794f207591db93a39</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ImageUploaderType" serializeAs="String">
                <value>ImageUploader</value>
            </setting>
            <setting name="SaveLocally" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalSavePath" serializeAs="String">
                <value />
            </setting>
        </Bimber.Properties.Settings>
    </userSettings>
</configuration>